---
import CardBreadcrumb from "@/components/CardBreadcrumb.astro";
import Heading1 from "@/components/Heading1.astro";
import Heading2 from "@/components/Heading2.astro";
import JSONLDPreview from "@/components/JSONLDPreview.astro";
import SpatialPreviewMap from "@/components/SpatialPreviewMap.astro";
import { linkedSpatialMap, spatialMap } from "@/data";
import { type LinkedSpatialEntity } from "@/data/spatial";
import Layout from "@/layouts/Layout.astro";
import { spatialJsonLdMap } from "@/pages/data/spatial/[id]";
import { formatLangString } from "@/utils/rdf";
import { expandURI } from "@/utils/url";
import { Icon } from "astro-icon/components";

export const prerender = true;

export const getStaticPaths = async () => {
  return Array.from(spatialMap.keys()).map((id) => ({
    params: { id: id.replace("uatr:spatial/", "") },
  }));
};

const { id } = Astro.params;

const currentId = `uatr:spatial/${id}`;
const fullURL = expandURI(currentId);

const spatial = linkedSpatialMap.get(currentId);
const spatialJsonLD = spatialJsonLdMap.get(currentId);
if (!spatial || !spatialJsonLD) {
  throw new Error("Spatial not found");
}

const getAncestors = (spatial: LinkedSpatialEntity): LinkedSpatialEntity[] => {
  const parent = spatial.properties.containedInPlace;
  if (!parent) return [];
  return [...getAncestors(parent), parent];
};

const ancestors = getAncestors(spatial);

const breadcrumbItems = [
  { label: "Home", href: "/", icon: "mdi:home" },
  {
    label: "Spatial",
    href: "/page/spatial/",
    icon: "mdi:map",
  },
  ...ancestors.map((ancestor) => ({
    tag: ancestor.properties.type,
    label: formatLangString(ancestor.properties.name),
    href: expandURI(ancestor.id),
  })),
  {
    tag: spatial.properties.type,
    label: formatLangString(spatial.properties.name),
  },
];
---

<Layout>
  <CardBreadcrumb items={breadcrumbItems} />
  <Heading1>
    <span slot="subtitle"
      >{
        formatLangString(
          spatial.properties.name,
          "en",
          "Unnamed Spatial Entity",
        )
      }</span
    >
    <span
      >{formatLangString(spatial.properties.name, "ja", "無名の地理情報")}</span
    >
  </Heading1>

  {
    spatial.properties.containsPlace.length > 0 && (
      <Fragment>
        <Heading2>下位地理情報</Heading2>
        <ul class="flex flex-col gap-2">
          {spatial.properties.containsPlace.map((subSpatial) => (
            <li>
              <a
                class="flex flex-row items-center justify-between rounded-md p-4 hover:bg-base-200 transition-colors border border-base-300 hover:border-primary"
                href={expandURI(subSpatial.id)}
              >
                <div class="flex flex-col gap-1">
                  <h3 class="flex flex-row gap-2 items-baseline">
                    <span class="font-bold">
                      {formatLangString(
                        subSpatial.properties.name,
                        "ja",
                        "無名の地理情報",
                      )}
                    </span>
                    <span class="d-badge d-badge-primary d-badge-soft d-badge-sm">
                      {subSpatial.properties.type}
                    </span>
                  </h3>
                  <p class="text-xs text-base-content/70">
                    {formatLangString(
                      subSpatial.properties.name,
                      "en",
                      "Unnamed Spatial Entity",
                    )}
                  </p>
                </div>
                <Icon name="mdi:chevron-right" />
              </a>
            </li>
          ))}
        </ul>
      </Fragment>
    )
  }

  <Heading2>プレビュー</Heading2>
  {
    spatialJsonLD.geometry ? (
      <div class="w-full h-96 border border-base-300 rounded-md overflow-hidden mb-4">
        <SpatialPreviewMap
          style="width: 100%; height: 100%;"
          feature={spatialJsonLD as unknown as GeoJSON.Feature}
        />
      </div>
    ) : (
      <p class="mb-4">ジオメトリ情報が存在しないため、地図を表示できません。</p>
    )
  }

  <Heading2>JSON-LD</Heading2>

  <div class="d-join w-full mb-2">
    <input class="d-input d-join-item w-full" readonly value={fullURL} />
    <button class="d-btn d-join-item copy" data-value={fullURL}>
      <Icon name="mdi:content-copy" />
    </button>
    <a
      class="d-btn d-join-item"
      href={fullURL.replace("/resources/", "/data/")}
      target="_blank"
    >
      <Icon name="mdi:external-link" />
    </a>
  </div>

  <JSONLDPreview
    code={JSON.stringify(spatialJsonLD, null, 2)}
    ontology="spatial"
  />
</Layout>

<script>
  document.querySelector(".copy")?.addEventListener("click", (event) => {
    const button = event.currentTarget as HTMLButtonElement;
    const value = button.getAttribute("data-value");
    if (value) {
      navigator.clipboard.writeText(value);
    }
  });
</script>
